@page
@model GamingSite.Pages.Index1Model
@{
    ViewData["Tittle"] = "Gaming News";
}
<div class="text-center">
<h1 class="display-4" style="color:white">GamingNews</h1>
</div>
<p></p>
<p></p>
<p class="fs-4"></p>
<div class="ratio ratio-16x9">
 <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/dq/DQ6S8YSEWJXP1651769276922.jpg" class="d-block " alt="..." style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="https://static0.gamerantimages.com/wordpress/wp-content/uploads/2022/05/xbox-game-pass-ultiamte-nhl-22.webp?q=50&fit=contain&w=960&h=500&dpr=1.5 " class="d-block " alt="..."  style="width: 100%;">
    </div>
    <div class="carousel-item">
      <img src="https://i.ytimg.com/vi/OT8if6DXOFQ/maxresdefault.jpg " class="d-block " alt="..." style="width:100%">
    </div>
    <div class="carousel-item">
      <img src="https://www.pcgamesn.com/wp-content/uploads/2021/11/rust-permanent-in-game-store.jpg " class="d-block " alt="..."   style="width:100%;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<p></p>
<p></p>
<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Links To News ==>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="https://worldofwarcraft.com/en-gb/news">First News!</a></li>
    <li><a class="dropdown-item" href="https://gamerant.com/xbox-game-pass-ultimate-new-today-may-2022-nhl-22/">Second News!</a></li>
    <li><a class="dropdown-item" href="https://en.bandainamcoent.eu/elden-ring/elden-ring">Third News</a></li>
    <li><a class="dropdown-item" href="https://www.fandom.com/">The best site for gaming info and news!</a></li>
  </ul>
</div>