@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GamePedia</h1>
    </div>

<div class="row row-cols-1 row-cols-md-3 g-4">

@foreach (var game in Model.games)
{
  <div class="col">
    <div class="card h-100">
      <img src="@game.Images[0]" class="card-img-top" alt="">
      <div class="card-body">
        <a  asp-area="" asp-page="/Game" asp-route-title="@game.Title"><h5 class="card-title">@game.Title</h5></a>

      </div>
      <div class="card-footer">
        <small class="text-muted"><a class="btn btn-outline-primary btn-sm sticky-bottom" href="https://www.half-life.com/bg/halflife" target="_blank">Buy the Game</a></small>
      </div>
    </div>
  </div>

}
  @*<div class="col">
    <div class="card h-100">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>*@

  
</div>

 @*<a href="https://www.half-life.com/bg/halflife" target="_blank">If u want to buy Half-Life!</a>

 <a href="https://store.steampowered.com/app/10/CounterStrike/" target="_blank">If u want to buy Counter-Strike!</a>

 <a href="https://worldofwarcraft.com/en-us/" target="_blank">If u want to buy World of Warcraft!</a>

 <a href="https://www.leagueoflegends.com/en-gb/" target="_blank">If u want to download League of Legends!</a>*@

