@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GamePedia</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@foreach(var game in Model.games)
{
        <h2> @game.Title</h2>
        <p> 
         <img width="150" src="@game.Image"> 
          @game.Description   
        </p>
};
