@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GamePedia</h1>
    </div>
<div class="card-columns">
@foreach (var game in Model.games)
{
          <div class="card-img" style= "background-image: url('@game.Image ');">
        </div>
        <div class="card-body">
         <a  asp-area="" asp-page="/Game" asp-route-title="@game.Title">@game.Title</a> 
        </div>
}
</div>
 <a href="https://www.half-life.com/bg/halflife" target="_blank">If u want to buy Half-Life!</a>

 <a href="https://store.steampowered.com/app/10/CounterStrike/" target="_blank">If u want to buy Counter-Strike!</a>

 <a href="https://worldofwarcraft.com/en-us/" target="_blank">If u want to buy World of Warcraft!</a>

 <a href="https://www.leagueoflegends.com/en-gb/" target="_blank">If u want to download League of Legends!</a>

