@page
@model GamingSite.Pages.HomePageModel
@{
    ViewData["Title"] = "Info";
}
<div class="text-center">
<h1 class="display-4" style="color:white">Infomation for the site</h1>
</div>
<p></p>
<p></p>
<p style="color:white;font-size:20px">That site is for giving information on people who want to know more about games.We put some of them here with some info for their creation
 and also we put trailer which give them visual infomation for them.How it look like what u do in it and other.That site also give gaming news which can
 give u info for latest news around gaming area.Also if u intersted more in some of these game u have click on buy game and u can see site where u can buy
 all game for some money.
</p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

    <center>
 <marquee>
<img src=https://keydifferences.com/wp-content/uploads/2016/09/data-vs-informaton.jpg style=width150px;height150px; />
</marquee>
</center>
