@page
@model GamingSite.Pages.Contact.ContactModel
@{
}
<h1 style="color:white;">Contact us</h1>
<p></p>
<p></p>
<p style="color:white;">Telephone: 087 589 9700
  </p>
<p style="color:white;">For more info write us on e-mai: </p>
<p></p>
<p style="color:white;">Email: GamePedia@gmail.com</p>
<p></p>
<center>
 <marquee>
<img src="https://www.researchskillsnet.com/images/contactus.jpg"  style="width:200px;height:150px;">
</marquee>
</center>
