@page
@model GamingSite.Pages.Contact.ContactModel
@{
}
<div class="text-center">
<h1 class="display-4" style="color:white"> Contact us!</h1>
</div>
<p></p>
<p></p>
<b class="fs-4" style="color:white;">Details for us! 
 </b>
 <p></p>
 <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
  How to contact with us!
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="https://m.facebook.com/Gaming-PEDIA-100309355667032/">Facebook</a></li>
    <li><a class="dropdown-item" href="https://blank.page/">Gmail</a></li>
    <li><a class="dropdown-item" href="https://blank.page/">Location</a></li>
  </ul>
</div>
<p></p>
<center>
 <marquee>
<img src="https://www.researchskillsnet.com/images/contactus.jpg"  style="width:200px;height:150px;">
</marquee>
</center>
