@page
@model GamingSite.Pages.Shared.PrivacyModel
@{
    ViewData["Tittle"] = "Rules";
}
<h1 style="color:white;">@ViewData["Tittle"]</h1>
<p></p>
<p></p>
<p style="color:white;">1.Dont copyright from us!</p>
 

<p style="color:white;">2.Don't try to delete some of our information!</p>
<p style="color:white;">3.Be Good with us,to be good with u.</p>

<center>
 <marquee>
<img src="https://ichef.bbci.co.uk/images/ic/448xn/p085mwhc.png"  style="width:150px;height:150px;">
</marquee>
</center>