@page
@model GamingSite.Pages.Shared.PrivacyModel
@{
    ViewData["Tittle"] = "Rules";
}
<div class="text-center">
<h1 class="display-4" style="color:white"> Rules!</h1>
</div>
<p></p>
<p></p>
<p   class="fs-4 " style="color:white;">1.Dont copyright from us!</p>
<p   class="fs-4" style="color:white;">2.Don't try to delete some of our information!</p>
<p   class="fs-4"   style="color:white;">3.Be Good with us,to be good with u.</p>

<center>
 <marquee>
<img src="https://ichef.bbci.co.uk/images/ic/448xn/p085mwhc.png"  style="width:150px;height:150px;">
</marquee>
</center>